<div class="tp-banner-container" id="slides">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                <!-- MAIN IMAGE -->
                <img src="images/banner/ken-henderson-revconf-dark.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <div class="tp-caption lft" data-x="center" data-hoffset="0" data-y="50" data-voffset="0" data-speed="800" data-start="700" data-easing="Power4.easeOut" data-endspeed="1000" data-endeasing="Power1.easeIn">
                </div>
                <div class="tp-caption main-title lfl" data-x="center" data-hoffset="0" data-y="250" data-speed="500" data-start="1500" data-easing="Power4.easeOut" data-endspeed="1000" data-endeasing="Power1.easeIn">
                    Ken Henderson
                </div>
                <div class="tp-caption info-title lfr" data-x="center" data-hoffset="0" data-y="300" data-voffset="0" data-speed="500" data-start="2000" data-easing="Power4.easeOut" data-endspeed="1000" data-endeasing="Power1.easeIn">
                    Business Operations with a passion for Technology
                </div>
            </li>
            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                <!-- MAIN IMAGE -->
                <img src="images/banner/53101967-2.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <div class="tp-caption lft" data-x="center" data-hoffset="0" data-y="50" data-voffset="0" data-speed="800" data-start="700" data-easing="Power4.easeOut" data-endspeed="1000" data-endeasing="Power1.easeIn">
                </div>
                <div class="tp-caption main-title lfl" data-x="center" data-hoffset="0" data-y="250" data-speed="500" data-start="1500" data-easing="Power4.easeOut" data-endspeed="1000" data-endeasing="Power1.easeIn">
                    14 years experience
                </div>
                <div class="tp-caption info-title lfr" data-x="center" data-hoffset="0" data-y="300" data-voffset="0" data-speed="500" data-start="2000" data-easing="Power4.easeOut" data-endspeed="1000" data-endeasing="Power1.easeIn">
                    In Organization Development
                </div>
            </li>
            <!-- SLIDE  -->
            <!-- <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                <img src="img/banner3.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <div class="tp-caption lft" data-x="center" data-hoffset="0" data-y="50" data-voffset="0" data-speed="800" data-start="700" data-easing="Power4.easeOut" data-endspeed="1000" data-endeasing="Power1.easeIn">
                    <img src="img/camera.png" alt="slideimg">
                </div>
                <div class="tp-caption main-title lfl" data-x="center" data-hoffset="0" data-y="250" data-speed="500" data-start="1500" data-easing="Power4.easeOut" data-endspeed="1000" data-endeasing="Power1.easeIn">
                    photography
                </div>
                <div class="tp-caption info-title lfr" data-x="center" data-hoffset="0" data-y="300" data-voffset="0" data-speed="500" data-start="2000" data-easing="Power4.easeOut" data-endspeed="1000" data-endeasing="Power1.easeIn">
                    is my additional qualification
                </div>
            </li> -->
        </ul>
        <div class="tp-bannertimer">
        </div>
    </div>
</div>
<div class="top-scroll-bar">
    <a href="#about-me" class="scroll-down wow pulse" data-wow-iteration="infinite"><i class="fa fa-angle-double-down wow pulse" data-wow-iteration="infinite"></i></a>
</div>
<!-- Copyright: <a href='https://www.123rf.com/profile_rawpixel'>rawpixel / 123RF Stock Photo</a> -->
