<div class="connect-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h1 class="section-heading">connect</h1>
                    <h2 class="section-subheading-nobg">DRAG &amp; DROP THE ICONS INTO THE LAPTOP</h2>
                </div>
                <div class="draggable-monitor">
                    <div class="drag-place">
                    </div>
                    <div class="drag-arrow">
                    </div>
                    <a href="https://www.facebook.com/kenderson4" class="social-link social-link-drag sprite-facebook wow bounceIn "></a>
                    <a href="https://plus.google.com/" class="social-link social-link-drag sprite-google-plus wow bounceIn " data-wow-delay=".4s"></a>
                    <a href="https://www.linkedin.com/in/kenhenderson4" class="social-link social-link-drag sprite-linkedin wow bounceIn " data-wow-delay=".8s"></a>
                    <a href="https://www.flickr.com/photos/132738706@N06/" class="social-link social-link-drag sprite-flickr wow bounceIn " data-wow-delay="1.6s"></a>
                    <a href="https://twitter.com/kenderson" class="social-link social-link-drag sprite-twitter wow bounceIn" data-wow-delay="1.2s"></a>
                    <a href="https://github.com/kenderson" class="social-link social-link-drag sprite-github wow bounceIn" data-wow-delay=".6s"></a>
                </div>
            </div>
        </div>
    </div>
</div>
