<!--counter section start -->
<div class="section-counter">
    <div class="container">
        <div class="row vc">
            <div class="col-md-4 col-sm-4">
                <div class="counter fr">
                    <div class="text-title">
                        <span class="numeric-count number-animate" data-value="11" data-animation-duration="1500">0</span>
                    </div>
                    <div class="text-subtitle">
                        YEARS EXPERIENCE
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="counter fc">
                    <div class="text-title">
                        <span class="numeric-count number-animate" data-value="302" data-animation-duration="1500">0</span>
                    </div>
                    <div class="text-subtitle">
                        PROJECTS MANAGED
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="counter fl">
                    <div class="text-title">
                        <span class="numeric-count number-animate" data-value="71" data-animation-duration="1500">0</span>
                    </div>
                    <div class="text-subtitle">
                        HAPPY CLIENTS
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--counter section end-->
