<!--section education start-->
<div class="section-education" id="education">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h1 class="section-heading">EDUCATION</h1>
                    <h2 class="section-subheading-nobg">Education is the most powerful weapon which you can use to change the world. <br/><span class="quote">- Nelson Mandela</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="education">
                    <div class="details wow slideInLeft">
                        <div class="content ">
                            <h2 class="section-subtitle">Master Degree</h2>
                            <p>
                                Virginia Tech
                            </p>
                        </div>
                    </div>
                    <div class="year">
                        <div class="reddot left-dot wow bounceIn">
                        </div>
                        <div>
                            <h2 class="section-subtitle">Sept / 2005</h2>
                        </div>
                        <div class="reddot right-dot wow bounceIn">
                        </div>
                    </div>
                    <div class="details higherz wow slideInRight">
                        <div class="content">
                            <h2 class="section-subtitle">Mechanical Engineering </h2>
                            <p>
                                Graduated Summa Cum Laude
                            </p>
                        </div>
                    </div>
                </div>
                <div class="education">
                    <div class="details wow slideInLeft">
                        <div class="content ">
                            <h2 class="section-subtitle">Bachelors Degree</h2>
                            <p>
                                Virginia Tech
                            </p>
                        </div>
                    </div>
                    <div class="year">
                        <div class="reddot left-dot wow bounceIn">
                        </div>
                        <div>
                            <h2 class="section-subtitle">May / 2004</h2>
                        </div>
                        <div class="reddot right-dot wow bounceIn">
                        </div>
                    </div>
                    <div class="details higherz wow slideInRight">
                        <div class="content">
                            <h2 class="section-subtitle">Mechanical Engineering </h2>
                            <p>
                                Graduated Cum Laude
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--section education end-->
