<div id="footer_wrap">  
	<div id="footer" class="clearfix">
    <div class='contact_wrap'>
      <div id="footer_soc_nav">
        <a href='http://twitter.com/kenderson' class="footer_soc_icon fb_icon"></a>
        <a href='http://twitter.com/kenderson' class="footer_soc_icon tw_icon"></a>
        <a href='mailto:henderson.ken@gmail.com' class="footer_soc_icon gm_icon"></a>
        <a href='http://www.linkedin.com/in/kenhendersonpm' class="footer_soc_icon li_icon"></a>
        <a href='skype:kenderson4?call' style='border:none;' class="footer_soc_icon sk_icon"></a>
        <a href='http://blinklist.com/users/kenderson' class="footer_soc_icon bl_icon"></a>
      </div>
    </div>	    
	</div><!-- #footer -->
</div><!-- #footer_wrap -->
<div id="credits">
  designed by Ken Henderson
  <br />
  &copy; {{ site.time | date: '%Y' }}
</div>
      