<div class="navigation clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar navbar-static-top">
                    <div>
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="fa fa-bars"></span>
                            </button>
                            <a class="sticky-logo" href="index.html">
                                <img src="img/sticky-logo.png" alt=""/>
                            </a>
                        </div>
                        <div class="navbar-collapse collapse ddsmoothmenu" id="smoothmenu1">
                            <ul class="nav navbar-nav pull-right top-nav sf-menu">
                                <li><a href="#slides">Home</a></li>
                                <li><a href="#about-me">About Me</a></li>
                                <li><a href="#experiences">Experiences</a></li>
                                <li><a href="#education">Education</a></li>
                                <li><a href="#testimonial">Testimonial</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
