<div id="sidebar_container">
  <img src='{{ "/images/kh_logo.jpg" | prepend: site.baseurl }}' width="230px"/>  
  <div id="primary" class="widget-area" role="complementary">
  	<ul class="xoxo">
  		<li id="archives" class="widget-container">
  			<h3 class="widget-title"></h3>
  			<ul>
  			</ul>
  		</li>
  		<li id="meta" class="widget-container">
  			<h3 class="widget-title"></h3>
  			<ul>
  			</ul>
  		</li>
  		<li id="search" class="widget-container widget_search">
  		</li>
  	</ul>
  </div><!-- #primary .widget-area -->
  <div id="secondary" class="widget-area" role="complementary">
  	<ul class="xoxo">
  	</ul>
  </div><!-- #secondary .widget-area -->
</div>
