<!--skill section start -->
<div class="section-skill appear" id="skill-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h1 class="section-heading" data-scrollreveal="enter left">SKILL</h1>
                    <h2 class="section-subheading-nobg" data-scrollreveal="enter left">I am Really Good At the Following Technical Skills</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="skill wow fadeInLeftBig">
                    <div class="name">
                        <div class="arrow">
                        </div>
                        <div class="label">
                            Photoshop
                        </div>
                    </div>
                    <div class="knob">
						<span class="chart" data-percent="70">
						<span class="percent">70</span>
						</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="skill">
                    <div class="name">
                        <div class="arrow">
                        </div>
                        <div class="label">
                            HTML & CSS
                        </div>
                    </div>
                    <div class="knob">
						<span class="chart" data-percent="60">
						<span class="percent">60</span>
						</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="skill wow fadeInRightBig">
                    <div class="name">
                        <div class="arrow">
                        </div>
                        <div class="label">
                            JAVASCRIPT
                        </div>
                    </div>
                    <div class="knob">
						<span class="chart" data-percent="90">
						<span class="percent">90</span>
						</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="skillnews">
                    <h2>Neque porro quisquam est qui dolorem ipsum</h2>
                    <h3>qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--skill section end -->