<!--section testimonial start-->
<div class="section-testimonial" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h1 class="section-heading">TESTIMONIALS</h1>
                    <h2 class="section-subheading-nobg">The business of business is relationships; the business of life is human connection. <br/><span class="quote">- Robin S. Sharma</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial-carousel">
                    <div>
                        <div class="testimonial-thumb">
                            <div class="img-frame wow bounceInDown">
                                <img src="img/quote_photoframe.png" alt=""/>
                                <img class="icon" src="img/quote_circle.png" alt=""/>
                                <img class="person" src="img/jessica.jpg" alt=""/>
                            </div>
                            <div class="details">
                                <h2>Jessica Menchion-D'Amore</h2>
                                <h3>Client Services Operations Manager</h3>
                            </div>
                        </div>
                        <div class="quote">
                            <p>
                               As part of the services management team, Ken has worked hard to build authentic relationships with the employees and clients alike. Throughout many projects, Ken has showed a passion for the work and a sense of team work that allowed him to gain the support of a broad virtual team and move forward on contentious issues. <br/>
                              Ken is constantly thinking of ways to improve our team, processes, and profitability. He is able to adapt to rapidly changing priorities and always maintain a drive to do better. He would be an invaluable asset to any company. I would work with Ken again in a heartbeat.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial-thumb">
                            <div class="img-frame wow bounceInDown">
                                <img src="img/quote_photoframe.png" alt=""/>
                                <img class="icon" src="img/quote_circle.png" alt=""/>
                                <img class="person" src="img/kendall.jpg" alt=""/>
                            </div>
                            <div class="details">
                                <h2>Kendall Smith</h2>
                                <h3>Quality Engineer  - Ektron</h3>
                            </div>
                        </div>
                        <div class="quote">
                            <p>
                                Ken was a fantastic mentor for me while I was a junior project manager and while I was learning JavaScript and CSS. He really knows management inside and out and it showed. He gave me a lot of great advice that I will definitely be using in the future. He really helped me to learn and grow as an employee and I know he's going to go far in this industry.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial-thumb">
                            <div class="img-frame wow bounceInDown">
                                <img src="img/quote_photoframe.png" alt=""/>
                                <img class="icon" src="img/quote_circle.png" alt=""/>
                                <img class="person" src="img/cole.jpg" alt=""/>
                            </div>
                            <div class="details">
                                <h2>Cole VanDervort</h2>
                                <h3>Manager - Thales Communications</h3>
                            </div>
                        </div>
                        <div class="quote">
                            <p>
                                I really enjoy working with Ken... he is an outstanding leader. He is hard working, well organized, and innovative in problem solving. These qualities combine to make Ken highly productive. Ken is also known among coworkers as a good listener and effective communicator. I highly recommend Ken.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial-thumb">
                            <div class="img-frame wow bounceInDown">
                                <img src="img/quote_photoframe.png" alt=""/>
                                <img class="icon" src="img/quote_circle.png" alt=""/>
                                <img class="person" src="img/terry.jpg" alt=""/>
                            </div>
                            <div class="details">
                                <h2>Terry Gimbre</h2>
                                  <h3>Manager - Thales Communications</h3>
                            </div>
                        </div>
                        <div class="quote">
                            <p>
                                I've worked with Ken for several years and have found him to be one of the most dedicated professionals I've met. Ken has the ability to manage several activities at once. Ken is driven, hard working and results oriented. Because his background at THALES and understanding of engineering processes and the high tech industry, he has been very effective in project engineering management.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--section testimonial end-->
